@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  background-color: white;
  color: #f63555
}
body{
  background-color: #f63555;
  color: white;
}
button:active{
  background: rgb(213, 207, 207);
}

html{
  overflow-x: hidden;
}